.venv
.env
venv/
env/
Data/Base.csv
Data/**
Notebooks/EDA-data.ipynb
Notebooks/images/
Notebooks/test_pipeline.ipynb
Notebooks/.ipynb_checkpoints/
Notebooks/Artifacts

**/.ipynb_checkpoints

terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/account_service/